@page "/Usuarios"
@using Modelos;


<h3>LISTA DE USUARIOS</h3>
<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h3>Lista De Usuarios</h3>
        <div class="form-group row">
            <div class="col-sm-2">
                <a href="/Usuarios/Nuevo" class="btn btn-primary m-2">NUEVO</a>
            </div>
        </div>

        @if (listaUsuarios == null)//Metemos todo ne las etiquetas "Autoizar" para qe solo los usuarios puedan ingresar a este tipo e acciones
        {
            <p>NO EXISTEN USUARIOS EN EL SISTEMA</p>
        }else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Foto</th>
                        <th>Fecha Creacion</th>
                        <th>Esta Activo</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (UsuariosM user in listaUsuarios)//la parte de arriba es el ecabezado de la lista
                    {
                        <tr>
                            <th>@user.CodigoUsuario</th>
                            <th>@user.Nombre</th>
                            <th>@user.Correo</th>
                            <th>@user.Rol</th>
                            @if (user.Foto != null)
                            {//ESTAMOS CONVIRTIENDO A BASE M64, YA QUE NOSOTROS TRAEMOS LA FOTO DESDE LA BD Y NO DESDE LA PC
                                <th>
                                    <img width="40" height="40" src="data:image;base64,@System.Convert.ToBase64String(user.Foto)"/>
                                </th>
                            }
                            else
                            {
                                <th></th>
                            }
                            <th>@user.FechaCreacion</th>
                            @if (user.EstadoActivo)
                            {
                                <th>
                                    <span class="oi oi-circle-check" style="color: green;"></span>

                                </th>
                            }
                            else
                            {
                                <th>
                                    <span class="oi oi-circle-x" style="color: red;"></span>

                                </th>
                            }
                            <th>
                                <a class="btn btn-success" href="@($"/Usuarios/Editar/{user.CodigoUsuario}")">Editar</a>
                            </th>
                            <th>@user.EstadoActivo</th>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h3>NO TIENE PERMISO PARA LLEVAR ACABO ESTA ACCION</h3>
    </NotAuthorized>
</AuthorizeView>


